.rotation-y {
    animation-duration: .5s;
    animation-name: rotate-y;
}
@keyframes rotate-y {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.dropdown {
    position: relative;
    text-align: left;
    height: 50px;
    padding: .375rem .75rem;
    background-color: var(--fun-blue-50);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
.dropdown button {
    padding: 0;
    border: 0;
    width: 100%;
    text-align: left;
    background-color: transparent;
    color: #727b82;
    font-weight: 500 !important;
    transition: all .3s;
    display: block;
}
.dropdown button i {
    color: #999;
    background-color: transparent;
    border: none;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.dropdown.active button i {
    transform: rotate(180deg);
}
.dropdown .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in, visibility 0ms ease-in .3s;
    top: 58px;
    left: 0;
    z-index: 99;
    background: var(--fun-blue-50);
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 12px 35px 2px rgba(0,0,0,0.12);
    padding: 15px 15px 0;
    width: 280px;
}
.dropdown.active .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transition-delay: 0ms;
}
.dropdown .dropdown-menu:after {
    bottom: 100%;
    left: 15px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: var(--fun-blue-50);
    border-width: 7px;
    margin-left: -7px;
}
.qtyTotal {
    background-color: #66676b;
    border-radius: 50%;
    color: var(--fun-blue-50);
    display: inline-block;
    font-size: 11px;
    font-weight: 600 !important;
    font-family: "Open Sans",sans-serif;
    line-height: 18px;
    text-align: center;
    position: relative;
    top: 0;
    left: 2px;
    height: 18px;
    width: 18px;
}
.qtyButtons {
    display: flex;
    margin: 0 0 13px;
}
.qtyButtons label {
    font-weight: 500;
    line-height: 36px;
    padding-right: 15px;
    display: block;
    flex: 1;
    color: #727b82;
}
.qtyButtons input {
    outline: 0;
    font-size: 1rem;
    text-align: center;
    width: 50px;
    height: 36px!important;
    color: #66676b;
    line-height: 36px;
    margin: 0!important;
    padding: 0 5px!important;
    border: none;
    box-shadow: none;
    pointer-events: none;
    display: inline-block;
    border: none!important;
    background-color: transparent;
}
.qtyInc, .qtyDec {
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 1.75rem;
    background-color: #f2f2f2;
    -webkit-text-stroke: 1px #f2f2f2;
    color: #333;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width: 991px){
    .dropdown {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}