<section class="bg-white">
    <div class="container grid">
        <div class="row g-2 categories">
            <div class="col-sm-12 col-md-6">
                <a href="#" id="grid-destaque">
                    <img class="img-fluid" src="img/monumento-bento-goncalves-1.png" alt="">
                    <div class="text">
                        <h2>Monumentos Históricos</h2>
                        <p>1250 Localizações</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row g-2">
                    <div class="col-sm-6">
                        <a href="#" id="grid-sm-1">
                            <img class="img-fluid" src="img/passeios.jpg" alt="">
                            <div class="text">
                                <h2>Passeios</h2>
                                <p>800 Localizações</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" id="grid-sm-2">
                            <img class="img-fluid" src="img/hoteis.jpg" alt="">
                            <div class="text">
                                <h2>Hotéis</h2>
                                <p>980 Localizações</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-12">
                        <a href="#" id="grid-md">
                            <img class="img-fluid" src="img/restaurante.jpg" alt="">
                            <div class="text">
                                <h2>Restaurantes</h2>
                                <p>1258 Localizações</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>