#grid-destaque {
    max-height: 31.9rem;
}
#grid-sm-1, #grid-sm-2, #grid-md {
    max-height: 15.7188rem;
}
.categories a {
    color: var(--fun-blue-50);
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.categories a img {
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.categories a:hover img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.categories a .text {
    color: var(--fun-blue-50);
    width: 100%;
    background: transparent;
    background: -webkit-linear-gradient(top,transparent,#000);
    background: linear-gradient(to bottom,transparent,#000);
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 1;
    padding: 100px 20px 20px;
}
.categories a .text h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3125rem;
    margin: 0;
    -webkit-transform: translateY(1.25rem) translateZ(0);
    -moz-transform: translateY(1.25rem) translateZ(0);
    -ms-transform: translateY(1.25rem) translateZ(0);
    -o-transform: translateY(1.25rem) translateZ(0);
    transform: translateY(1.25rem) translateZ(0);
    -webkit-transition: all .3s cubic-bezier(0.77,0,0.175,1);
    -moz-transition: all .3s cubic-bezier(0.77,0,0.175,1);
    -ms-transition: all .3s cubic-bezier(0.77,0,0.175,1);
    -o-transition: all .3s cubic-bezier(0.77,0,0.175,1);
    transition: all .3s cubic-bezier(0.77,0,0.175,1);
}
.categories a:hover h2 {
    -webkit-transform: translateY(-0.31rem) translateZ(0);
    -moz-transform: translateY(-0.313rem) translateZ(0);
    -ms-transform: translateY(-0.313rem) translateZ(0);
    -o-transform: translateY(-0.313rem) translateZ(0);
    transform: translateY(-0.313rem) translateZ(0);
}
.categories a .text p {
    opacity: 0;
    margin: 0;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 500;
    -webkit-transform: translateY(1.25rem) translateZ(0);
    -moz-transform: translateY(1.25rem) translateZ(0);
    -ms-transform: translateY(1.25rem) translateZ(0);
    -o-transform: translateY(1.25rem) translateZ(0);
    transform: translateY(1.25rem) translateZ(0);
    -webkit-transition: all .3s cubic-bezier(0.77,0,0.175,1);
    -moz-transition: all .3s cubic-bezier(0.77,0,0.175,1);
    -ms-transition: all .3s cubic-bezier(0.77,0,0.175,1);
    -o-transition: all .3s cubic-bezier(0.77,0,0.175,1);
    transition: all .3s cubic-bezier(0.77,0,0.175,1);
}
.categories a:hover p {
    opacity: .8;
    transition-delay: .2s;
    -webkit-transform: translateY(0) translateZ(0);
    -moz-transform: translateY(0) translateZ(0);
    -ms-transform: translateY(0) translateZ(0);
    -o-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
}