.swiper-home {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.swiper-home {
    z-index: 2;
}
.swiper-home .swiper-slide {
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.swiper-home .swiper-pagination-bullet-active {
    color: var(--fun-blue-50);
    background: #007aff;
}