:root {
    /*------------------------------------------------------------*/
    /*---------------------- COLOR VARIABLES ---------------------*/
    /*------------------------------------------------------------*/

    --fun-blue-50: #f3f6fc;
    --fun-blue-100: #e5ecf9;
    --fun-blue-200: #c6d8f1;
    --fun-blue-300: #93b8e6;
    --fun-blue-400: #5a93d6;
    --fun-blue-500: #3575c2;
    --fun-blue-600: #265ea9;
    --fun-blue-700: #1f4985;
    --fun-blue-800: #1d3f6f;
    --fun-blue-900: #1d365d;
    --fun-blue-950: #14233d;

    --ocean-green-50: #effaf3;
    --ocean-green-100: #d9f2e0;
    --ocean-green-200: #b7e3c6;
    --ocean-green-300: #87cea3;
    --ocean-green-400: #4ca973;
    --ocean-green-500: #339660;
    --ocean-green-600: #23784c;
    --ocean-green-700: #1c603e;
    --ocean-green-800: #184d33;
    --ocean-green-900: #153f2b;
    --ocean-green-950: #0b2318;
    
    /*------------------------------------------------------------*/
    /*--------------------- SWIPER VARIABLES ---------------------*/
    /*------------------------------------------------------------*/
    
    --swiper-pagination-color: var(--swiper-theme-color);
    --swiper-pagination-left: auto;
    --swiper-pagination-right: 8px;
    --swiper-pagination-bottom: 8px;
    --swiper-pagination-top: auto;
    --swiper-pagination-fraction-color: inherit;
    --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
    --swiper-pagination-progressbar-size: 4px;
    
    --swiper-pagination-bullet-size: 16px;
    --swiper-pagination-bullet-width: 16px;
    --swiper-pagination-bullet-height: 16px;
    --swiper-pagination-bullet-inactive-color: transparent;
    --swiper-pagination-bullet-inactive-opacity: 0.7;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 7px;
    --swiper-pagination-bullet-vertical-gap: 5px;

    /*--------- Custom Properties for Swiper Slider ---------*/
    --swiper-pagination-bullet-button-border: 2px solid var(--fun-blue-50);


    /*----------------- END OF SWIPER VARIABLES ------------------*/
}

html, body {
    background-color: #f9f9f9;
    font-size: 14px;
    line-height: 1.5;
    font-family: "Montserrat",Arial,sans-serif;
    color: #2a2a2a;
}
a {
    font-weight: 600 !important;
    line-height: 20px;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    outline: none;
}
a:hover, a:focus {
    color: #111;
    text-decoration: none;
    outline: none;
}
#search {
    position: relative;
    top: -65%;
    width: 100%;
    padding: 0 15%;
    z-index: 3;
}
.nav-item .nav-link {
    color: var(--fun-blue-50);
}

@media (max-width: 575px){
    #search {
        padding: 0 15px;
        top: -80%;
    }
}