@page "/"

<PageTitle>Página Inicial</PageTitle>

<section id="hero">
    <ModalSearch></ModalSearch>
    <Slider IsHome="true" Pagination="true" Navigation="false" Scrollbar="false"></Slider>
</section>

<CategoriesGrid></CategoriesGrid>