header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    padding: 10px 0;
}
header.sticky {
    -webkit-box-shadow: 0 2px 10px -2px rgba(0,0,0,0.41);
    -moz-box-shadow: 0 2px 10px -2px rgba(0,0,0,0.41);
    box-shadow: 0 2px 10px -2px rgba(0,0,0,0.41);
    background-color: var(--fun-blue-50);
    padding-bottom: 0;
}
a {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    outline: none;
}