.swiper {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.swiper-home {
    z-index: 2;
}
.swiper-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}